<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Profile</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="styles/stylesheet.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

</head>

<body>
  <h1 class="hr">Airdo</h1>
  <ul class="navi">
    <li class="navili"><a class="whiteLink" href="index.html">Home</a></li>

    <li class="drupdown" id="menuz">
      <div class="dropdown is-right">
        <div class="dropdown-trigger"><a href="index.html"> <button class="button is-primary is-medium" @click="activateMenu" aria-haspopup="true" aria-controls="dropdown-menu"> <span class="whiteLink">Logout</span></a> <span> <i aria-hidden="true"></i> </span> </button> </div>
        <div class="dropdown-menu" id="dropdown-menu"
          role="menu">
          <div class="dropdown-content">
            <form class="" action="profile.html" method="post"> <input type="text" name="" value="" placeholder="Username..." class="dropdown-item"> </input> <input type="text" class="dropdown-item" name="" placeholder="Password..." value="">
              <hr class="dropdown-divider"> <button type="submit" name="Login" class="button is-primary">Login</button> </form>
          </div>
        </div>
      </div>
    </li>
  </ul>


<div class="profileMain" id="menuToggle">
  <div class="sideBar">
    <aside class="menu is-size-4">
    <p class="menu-label">
      Dashboard
    </p>
    <ul class="menu-list">
      <li @click="searchBarGen"><a :class="{currentHighlight: findService}">Find a new service</a></li>
      <li @click="manageEventsGen"><a :class="{currentHighlight: manageServ}">Manage your {{eventLists}}</a></li>
      <li><a>Manage your {{responses}}</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">

      <li><a>Order History</a></li>
      <li @click="hideShow"><a > Manage Your {{switched}} </a></li>

    </ul>
    <p class="menu-label">
      Settings
    </p>
    <ul class="menu-list">
      <li><a>Account Settings</a></li>
      <li><a href="admin.html">Administrator Mode</a></li>

    </ul>
  </aside>
  </div>

  <div v-if="userX === true">
    <div class="profile_wrap">
      <h1>User Profile</h1>
      <img src="images/dog_host.jpg" class="profile_pic">
      <div class="profile_info_wrapper">
        <p class="profile_info" id="name">Name</p>
      </div>
    </div>
  </div>


  <div v-if="vendor === true">
    <div class="profile_wrap" >
      <h1>Vendor Profile</h1>
      <img src="images/dog_vendor.jpg" class="profile_pic">
      <div class="profile_info_wrapper">
        <p class="profile_info" id="company_name">Company Name</p>
        <p class="profile_info" id="name">Service</p>
        <p class="profile_info" id="name">Description</p>
      </div>
    </div>
  </div>
  <div v-if="findService === true">
    <br>
    <br>
    <br>
    <div class="search_wrap">
      <div class="search_inner_wrap">
        <form action="search.html">
          <input type="text" placeholder="Enter a service..."></input>
          <button class="button is-link is-medium"type="submit" name="submit" value="Submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <div v-if="manageServ === true" >
    <div class=" managecontainer"id="manageEvents">
      <h2>Your Events</h2>
      <div class="card" v-for="service in services" v-if="service.needed">
        <header class="card-header">
          <p class="card-header-title">
            {{service.description}}
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            blah   blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah  blah
              blah  blah  blah  blah  blah  blah
            <br>

          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Edit</a>
          <button class="card-footer-item" @click="service.needed = false">Delete</button>
        </footer>
      </div>
    </div>
  </div>

</div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="JavaScript/index.js"></script>

</body>

</html>
